html { 
  background: url(/img/donald_trump.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0) !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  align-self: center;
  width: 75%;
  margin-top: 100px;
}

.github-fork-ribbon:after {
  border-style: none !important;
}

.logo {
  position: absolute;
  background-repeat: no-repeat;
  width: 15rem;
  height: 5rem;
  background-size: 15rem auto;
  top: 2rem;
  left: 2rem;
  background-image: url(/img/logo.png);
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center; 
  width: 120px !important;
  height: 120px !important;
  line-height: 20px !important;
  padding-top: 38px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.box {
  font-family: 'Cutive Mono';
  font-size: 1.5em
  width: 100%;
  height: 100%;
  background:#FFF;
  margin:20px auto;
  padding: 1rem;
  max-width: 90rem;
}

.effect5 {
  position: relative;
}

.effect5:before, 
.effect5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.effect5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #100804;
  background: -moz-linear-gradient(left, #100804 10%, rgba(16,8,4, 0) 42%);
  background: -webkit-linear-gradient(left, #100804 10%, rgba(16,8,4, 0) 42%);
  background: -o-linear-gradient(left, #100804 10%, rgba(16,8,4, 0) 42%);
  background: -ms-linear-gradient(left, #100804 10%, rgba(16,8,4, 0) 42%);
  background: linear-gradient(to right, #100804 10%, rgba(16,8,4, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #100804;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fefdfd;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

